<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <h3><span class="bg-light text-dark">マイページ</span></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h5 class="font-weight-bold my-3 d-inline-flex">登録情報</h5><span class="ml-5"><%= link_to "編集する", edit_customers_path(current_customer), class: "btn btn-success btn-sm" %></span>
      <div class="table-responsive-md">
        <table class="table">
          <tr>
            <td class="bg-light" style="width:25%">氏名</td>
            <td class="" style="width:75%"></td>
          </tr>
          <tr>
            <td class="bg-light">カナ</td>
            <td></td>
          </tr>
          <tr>
            <td class="bg-light">郵便番号</td>
            <td></td>
          </tr>
          <tr>
            <td class="bg-light">住所</td>
            <td></td>
          </tr>
          <tr>
            <td class="bg-light">電話番号</td>
            <td></td>
          </tr>
          <tr>
            <td class="bg-light">メールアドレス</td>
            <td></td>
          </tr>
        </table>
      </div>

      <div class="row ">
        <h5 class="font-weight-bold my-3 d-inline-flex">配送先</h5><span class="ml-5"> <%= link_to "一覧を見る", customers_shippings_path(current_customer), class: "btn btn-primary btn-sm" %></span><br>
        <h5 class="font-weight-bold my-3 d-inline-flex">注文履歴</h5><span class="ml-5"><%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-sm" %></span>
      </div>
    </div>
  </div>
