<div class="container-fluid">
  <div class="row">
    <div class="col-3 offset-1">
      <h5><span class="bg-light text-dark">マイページ</span></h6>
    </div>
  </div>

  <div class="row">
    <div class="col-5 ml-5">
      <h5 class="font-weight-bold mb-3">登録情報</h6>
      <table class="table table-bordered">
        <tr>
          <td style="width:25%">氏名</td>
          <td style="width:75%">ああああああ</td>
        </tr>
        <tr>
          <td>カナ</td>
          <td>ああああああああ</td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td></td>
        </tr>
        <tr>
          <td>住所</td>
          <td></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td></td>
        </tr>
      </table>

    </div>
  </div>
