<!--カテゴリー追加-->


<% products.each do |product| %>
<div class="d-flex flex-column mr-3">
  <div>
    <%= link_to product_path(product.id) do %>
      <%= attachment_image_tag product, :image, :fill, 150, 200, fallback:"no_image.jpg" %>
    <% end %>
  </div>
  <div style="font-size:20px;"><%= product.name %></div>
  <div>¥ <%= product.price.to_s(:delimited) %></div>
</div>
<% end %>