<div class="container-fluid">
  <div class="row">
    <div class="col-2 ml-3">
      <div class="border border-light p-1 category">
        <h6><i class="fas fa-birthday-cake"></i> ジャンル検索</h6>
      </div>
      <div class="border border-light p-3", style="background-color:#e6e6fa;">
        <ul class="list-unstyled">
          <% @categories.each do |category| %>
          <li class="categorymenu"><i class="fas fa-cookie"></i> <%= category.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-9 mx-5">
      <h2 class="font-weight-bold d-inline-flex">商品一覧</h2><span class="">（全<%= @products.count %>件）</span>
      <div class="d-flex flex-row mt-2">
        <%= render "public/products/index", products: @products %>
        <%= paginate @products %>
      </div>

    </div>
  </div>
</div>
