<div class="container">
  <div class="row">
    <h3 class="col-md-5">会員一覧</h2>
  </div>

  <table class="table table-boredered">
    <thead class="bg-light">
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </thead>
    <% @customers.each do |customer| %>
    <tbody>
      <td><%= customer.id %></td>
      <td>
        <%= link_to admin_customer_path(customer) do %>
          <%= customer.full_name %>
        <% end %>
      </td>
      <td><%= customer.email %></td>
      <% if customer.is_deleted == false %>
        <td>有効</td>
      <% else %>
        <td>退会</td>
      <% end %>
    </tbody>
    <% end %>
  </table>

</div>
