<div class="container">
  <div class="row">
    <h3 class="col-md-5">注文履歴詳細</h2>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p><strong>購入者</strong></p>
    </div>
    <div class="col-md-6">
      <p><%= link_to  %>山田 花子</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p><strong>注文日</strong></p>
    </div>
    <div class="col-md-6">
      <p>2019/11/20</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p><strong>配送先</strong></p>
    </div>
    <div class="col-md-6">
      <p>
        〒111-1111　東京都渋谷区神南1丁目19－22　パークウェースクエア24階<br>
        山田花子
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p><strong>支払方法</strong></p>
    </div>
    <div class="col-md-6">
      <p>銀行振込</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p><strong>注文ステータス</strong></p>
    </div>
    <div class="col-md-6 d-flex clearfix">
      <button>入金待ち</button>
      <button class="ml-5">更新</button>

    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <table class="table table-sm">
        <t
      </table>
    </div>
  </div>