// Place all the styles related to the admin/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categories{
  border-top:1px solid #c0c0c0;
  border-bottom:1px solid #c0c0c0;
}
.categories th{
  border-bottom:1px solid #c0c0c0;
  padding:10px;
  background-color:#eee;
}

.categories td{
  padding:10px;
  border-bottom:1px solid #c0c0c0;
}