<main>
  <div class="container">
    <div class="row">
      <h3 class="col-md-5">ジャンル編集</h2>
    </div>

    <br>

    <div class="row">
      <div class="col-2">
        ジャンル名
      </div>

      <%= form_with model:@category,url:"/admin/categories/#{@category.id}", local:true do |f| %>
      <div class="d-flex flex-row　form-group">
        <div>
          <%= f.text_field :name, :class => 'form-control' %>
        </div>

        <div>
          <%= f.submit "変更を保存" , class: 'btn btn-success offset-md-2' %>
        </div>
      </div>
      <% end %>

    </div>

  </div>
</main>