<main>
  <div class="container">
    <div class="row">
      <span class="heading">ジャンル一覧・追加</span>
    </div>

    <br>

    <div class="row">
      <div class="col-md-2">
        ジャンル名
      </div>
      <div class="col-md-2">
        <input type="" class="form-control" id="" placeholder="">
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-success">新規登録</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-8">
        <table class="categories">
          <tr>
            <th class="col-md-8">ジャンル</th>
            <th class="col-md-4"></th>
          </tr>
          <tr>
            <td>ケーキ</td>
            <td>
              <button type="button" class="btn btn-success">編集する</button>
            </td>
          </tr>
          <tr>
            <td>ケーキ</td>
            <td>
              <button type="button" class="btn btn-success">編集する</button>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</main>