<div class="container">
  <h3>注文情報入力</h3>
  <div class="row">
    <div class="col-md-6">
      <table>
        <tr>
          <td>商品名</td>
          <td>単価（税込み）</td>
          <td>数量</td>
          <td>小計</td>
        </tr>
        <!--注文した商品を一覧表示-->
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
  <!--送料、商品合計金額、請求金額表示-->
      <table>
        <tr>
          <td>送料</td>
          <td></td>
        </tr>
        <tr>
          <td>商品合計</td>
          <td></td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td></td>
        </tr>
      </table>
    </div>

  </div>
  <div class="row">
    <p>支払方法</p>
    
  </div>
  <div class="row">
    <P>お届け先</P>
    
  </div>
  <%= link_to orders_path do %>
    <button type="button" class="btn btn-success">注文を確定する</button>
  <% end %>
</div>