<h6>注文履歴一覧</h6>
<div class="container">
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr>
            <td>注文日</td>
            <td>配送先</td>
            <td>注文商品</td>
            <td>支払い金額</td>
            <td>ステータス</td>
            <td>注文詳細</td>
          </tr>
        </thead>
        <tbody>
          <!--データ入力-->
          <tr>
            <td>chu-mon</td>
            <td>hai-so-!</td>
            <td>sho-hin</td>
            <td>siharai</td>
            <td>sute-tasu</td>
            <td>sho-sai</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>