<h6>注文履歴一覧</h6>
<div class="container">
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr>
            <td>注文日</td>
            <td>配送先</td>
            <td>注文商品</td>
            <td>支払い金額</td>
            <td>ステータス</td>
            <td>注文詳細</td>
          </tr>
        </thead>
        <tbody>
          <!--データ入力-->
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.to_s(:datetime_jp) %></td>
              <td><%= order.full_address %></td>
              <td>
                <% order.order_details.each do |order_detail| %>
                  <%= order_detail.product.name %><br />
                <% end %>
              </td>
              <td>siharai</td>
              <td>sute-tasu</td>
              <td>sho-sai</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
