<h6>注文履歴一覧</h6>
<div class="container">
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払い金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <!--データ入力-->
          <tr>
            <th>chu-mon</th>
            <th>hai-so-!</th>
            <th>sho-hin</th>
            <th>siharai</th>
            <th>sute-tasu</th>
            <th>sho-sai</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>